<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>User Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .header {
            background-color: black; /* Цвет фона шапки */
            color: white; /* Цвет текста шапки */
            padding: 10px; /* Отступы внутри шапки */
        }

        .header .logout {
            color: gray; /* Цвет текста для кнопки выхода */
            float: right; /* Выравнивание кнопки выхода вправо */
        }
    </style>
</head>
<body>
<div class="header">
    <span th:text="'Email: ' + ${currentUser.email}"></span>
    <span th:text="' with roles: '"></span>
    <span th:each="role : ${currentUser.roles}">
        <span th:text="${#strings.substring(role.name, 5)}"></span>
    </span>
    <a class="logout" th:href="@{/logout}">Logout</a>
</div>
<div class="container mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2>Navigation</h2>
                <ul class="list-group">
                    <li class="list-group-item" th:each="role : ${currentUser.getAuthorities()}"
                        th:if="${role.authority == 'ROLE_ADMIN'}">
                        <a href="http://localhost:8080/admin">Admin Page</a>
                    </li>
                    <li class="list-group-item" th:each="role : ${currentUser.getAuthorities()}"
                        th:if="${role.authority == 'ROLE_ADMIN'}">
                        <a href="http://localhost:8080/user">User Page</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-9">
                <h1>User information-page</h1>
                <table class="table mt-3">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Имя</th>
                        <th>Email</th>
                        <th>Роли</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${currentUser.id}"></td>
                        <td th:text="${currentUser.username}"></td>
                        <td th:text="${currentUser.email}"></td>
                        <td>
                            <span th:each="role : ${currentUser.roles}">
                                <span th:text="${#strings.substring(role.name, 5)}"></span>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
